body{
    background: #F6F6F6;
}
%h2{
    height: 85px;
    padding-top: 7px;
    box-sizing: border-box;
    line-height: 78px;
    font-size: 22px;
    text-align: center;
    background: url(../img/goodslist_border.png) no-repeat left 48px,url(../img/goodslist_border.png) no-repeat right 48px;
}
#top_picture{
    img{
        width: 100%;
        height: 100%;
    }
}

/*header部分*/
#header{
    background: #fff;
    .header_list{
        background: #E3E4E5;
        height: 30px;
        border-bottom: 1px solid #DDD;
        padding-right: 31px;
        ul{
            float: right;
            li{
                float: left;
                padding: 0 12px 0 13px;
                background: url(../img/header_list_border.png) no-repeat left center;
                a{
                    font-size: 12px;
                    line-height: 30px;
                    color: #999;
                    &:hover{
                        color: #F10215;
                    }
                }
                i{
                    display: inline-block;
                    width: 10px;
                    height: 5px;
                    background: url(../img/header_list_arrow.png) no-repeat;
                    margin-left: 4px;
                }
            }
            li:nth-child(1){
                    background: none;
                }
            li:nth-child(2) a:nth-child(1){
                color: #F10215;
            }
        }
    }
    .header_search{
        height: 140px;
        position: relative;
        .logo{
            position: absolute;
            top: -31px;
            a{
                display: block;
                width: 190px;
                height: 171px;
                background: url(../img/logo.png) no-repeat 22px 55px;
            }
        }
        .search{
            width: 550px;
            margin: 25px 0 0 320px;
            input{
                width: 500px;
                height: 35px;
                border: 1px solid #F10215;
                box-sizing: border-box;
                float: left;
                padding-left: 10px;
            }
            button{
                width: 50px;
                height: 35px;
                float: right;
                background: #F10215;
                color: #fff;
                margin-top: -1px;
            }
        }
        .recommend{
            margin-left: 320px;
            li{
                float: left;
                padding: 0 5px;
                a{
                    display: block;
                    height: 30px;
                    font-size: 12px;
                    line-height: 30px;
                    color: #999;
                    &:hover{
                        color: #F10215;
                        text-decoration: none;
                    }
                }
            }
            li:nth-child(1) a{
                color: #F10215;
            }
        }
        .classify{
            margin: 10px 0 0 230px;
            li{
                float: left;
                padding: 0 15px;
                a{
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    color: #666;
                    font-weight: bolder;
                    &:hover{
                        color: #F10215;
                    }
                }
            }
        }
        .car{
            width: 141px;
            height: 32px;
            border: 1px solid #E3E4E5;
            box-sizing: border-box;
            position: absolute;
            top: 28px;
            right: 0;
            padding-left: 19px;
            line-height: 32px;
            color: #F10215;
            cursor: pointer;
            span{
                margin-left: 7px;
            }
            span:nth-child(3){
                margin-left: 7px;
                color: #fff;
                border-radius: 5px;
                background: #F10215;
                padding: 0 10px;
            }
        }
    }
}

/*banner部分*/
#banner{
    .banner{
        .left,.right{
            width: 190px;
            height: 480px;
        }
        .left{
            float: left;
            background: #6C6669;
            padding-top: 16px;
            box-sizing: border-box;
            li{
                height: 30px;
                padding-left: 12px;
                a{
                    line-height: 30px;
                    color: #fff;
                    &:hover{
                        color: #F10215;
                    }
                }
                &:hover{
                    background: rgba(204,204,204,0.5);
                }
            }
        }
        .middle{
            float: left;
            width: 790px;
            height: 480px;
            margin-left: 10px;
            .top{
                overflow: hidden;
                height: 340px;
                position: relative;
                ul{
                    position: absolute;
                    li{
                        float: left;
                    }
                }
                div{
                    position: absolute;
                    width: 170px;
                    height: 20px;
                    bottom: 20px;
                    left: 310px;
                    border-radius: 8px;
                    background: rgba(204,204,204,0.5);
                    padding-left: 8px;
                    span{
                        float: left;
                        width: 12px;
                        height: 12px;
                        background: #fff;
                        border-radius: 50%;
                        margin: 4px 5px;
                        color: rgba(255,255,255,0);
                        cursor: pointer;
                    }
                    .active{
                        background: #DB192A;
                    }
                }
                .btn-prev,.btn-next{
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0,-50%);
                    padding: 15px 10px;
                    background: rgba(204,204,204,0.5);
                    color: #fff;
                    cursor: pointer;
                    &:hover{
                        background: rgba(0,0,0,0.5);
                    }
                }
                .btn-next{
                    left: auto;
                    right: 0;
                }
                &:hover{
                    .btn-prev,.btn-next{
                        display: block;
                    }
                }
            }
            .bottom{
                margin-top: 10px;
            }
        }
        .right{
            float: right;
            background: #fff;
            .top{
                height: 115px;
                box-sizing: border-box;
                padding: 15px 0 0 10px;
                border-bottom: 1px solid #E6E6E6;
                position: relative;
                img{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    float: left;
                }
                span:nth-child(2){
                    float: left;
                    margin-left: 15px;
                    a{
                        color: #000;
                    }
                }
                span:nth-child(3),span:nth-child(4){
                    position: absolute;
                    bottom: 16px;
                    width: 74px;
                    height: 24px;
                    border: 2px solid #E01222;
                    margin-top: 15px;
                    text-align: center;
                    a{                  
                        color: #E01222;
                        font-size: 12px;
                    }
                }
                span:nth-child(3){
                    left: 15px;
                }
                span:nth-child(4){
                    left: 99px;
                }
            }
            .bottom{
                padding-left: 13px;
                p{
                    overflow: hidden;
                    border-bottom: 1px solid #E6E6E6;
                    span{
                        float: left;
                        height: 28px;
                        line-height: 28px;
                        padding: 0 6px;
                        cursor: pointer;
                    }
                    span.active{
                        border-bottom: 2px solid #DB192B;
                    }
                }
                ul{
                    margin-top: 13px;
                    li{
                        height: 22px;
                        line-height: 22px;
                        a{
                            color: #666;
                        }
                    }
                }
                ul:nth-child(3){
                    display: none;
                }
            }
        }
    }
}

/*off部分*/
#off{
    padding: 10px 0 30px 0;
    .off{
        .title{
            height: 55px;
            line-height: 55px;
            background: url(../img/red.png) no-repeat;
            p{
                float: left;
                font-size: 24px;
                color: #fff;
                padding-left: 73px;
                background: url(../img/clock.png) no-repeat 30px center;
            }
            a{
                float: left;
                margin-left: 13px;
                color: #fff;
            }
        }
        ul{
            li{
                width: 198px;
                height: 250px;
                float: left;
                background: #fff url(../img/off_border.png) no-repeat right center;
                position: relative;
                img{
                    width: 120px;
                    height: 120px;
                    margin: 15px 39px;
                    position: absolute;
                }
                h4{
                    line-height: 26px;
                    font-size: 12px;
                    color: #999;
                    text-align: center;
                    margin-top: 150px;
                }
                p{
                    padding-left: 18px;
                    span{
                        font-size: 14px;
                        color: #F10214;
                        font-weight: bolder;
                    }
                    del{
                        font-size: 12px;
                        color: #999;
                    }
                }
            }
            li:last-child{
                background: #fff;
                h4{
                    margin-top: 156px;
                    line-height: 24px;
                    font-size: 14px;
                    color: #7D9F0A;
                }
            }
        }
    }
}

/*find部分*/
#find{;
    padding-bottom: 30px;
    .find{
        ul{
            li{
                float: left;
                width: 390px;
                height: 444px;
                margin-right: 10px;
                background: #fff;
                span{
                    display: block;
                    height: 55px;
                    line-height: 55px;
                    padding: 0 20px 0 30px;
                    p{
                        float:left;
                        font-size: 24px;    
                        text-align: center;
                        color: #fff;
                    }
                    a{
                        float: right;
                        font-size: 12px;
                        color: #fff;
                    }
                }
                ul{
                    padding: 8px;
                    overflow: hidden;
                    li{
                        float: left;
                        margin-right: 0;
                        border-bottom: 1px solid #E7E7E7;
                        border-right: 1px solid #E7E7E7;
                        a{
                            display: block;
                        }
                        p{
                            line-height: 16px;
                            font-size: 12px;
                            color: #666;
                            text-align: center;
                            padding-left: 10px;
                        }
                    }
                }
            }
            li:first-child{
                ul{
                    li{
                        width: 186px;
                        height: 121px;
                        position: relative;
                        img{
                            position: absolute;
                        }
                    }
                    li:nth-child(2n){
                        border-right: none;
                    }
                }
            }
            li:nth-child(2){
                ul{
                    li{
                        width: 186px;
                        height: 227px;
                        position: relative;
                        img{
                            position: absolute;
                        }
                    }
                    li:nth-child(2){
                        border-right: none;
                    }
                    li:last-child{
                        width: 370px;
                        height: 130px;
                        margin-top: 10px;
                        border-right: none;
                    }
                }
            }
            li:last-child{
                margin-right: 0;
                ul{
                    li{
                        width: 122px;
                        height: 184px;
                        img{
                            width: 100px;
                            height: 100px;
                            margin: 11px;
                        }
                    }
                    li:nth-child(3n){
                        border-right: none;
                    }
                }
            }
        }
    }
}

/*middle_banner部分*/
.middle_banner{
    a{
        margin-left: -4px;
    }
    a:first-child{
        margin-left: 0;
    }
}

/*quality部分*/
#quality{
    padding-bottom: 20px;
    h2{
        @extend %h2;
    }
    .quality{
        ul{
            li{
                float: left;
                margin: 0 10px 10px 0;
                a{
                    display: block;
                }
            }
            li:nth-child(3n){
                margin-right: 0;
            }
        }
    }
}

/*life部分*/
#life{
    h2{
        @extend %h2;
    }
    .life{
        .life_content{
            overflow: hidden;
            margin-bottom: 30px;
            .title{
                width: 100%;
                padding: 0 13px 0 26px;
                float: left;
                height: 58px;
                h3{
                    float: left;
                    line-height: 58px;
                    font-size: 20px;
                    font-weight: bolder;
                    color: #fff;
                }
                ul{
                    float: right;
                    li{
                        float: left;                       
                        border: 1px solid #fff;
                        margin: 16px 7px;
                        height: 24px;
                        padding: 0 10px;
                        a{
                            color: #fff;
                            font-size: 12px;
                            line-height: 24px;
                        }
                    }
                }
            }
            .left,.right{
                width: 594px;
                height: 465px;
                padding: 10px;
                float: left;
                box-sizing: border-box; 
                background: #fff;
                .one,.two,.three{
                    float: left;
                    a{
                        display: block;
                    }
                }
                .one{
                    margin-right: 10px;
                }
                .two{
                    width: 377px;
                    ul{
                        overflow: hidden;
                        li{
                            float: left;
                        }
                        li:nth-child(2n){
                            border-left: 1px solid #E6E6E6;
                        }
                        li:nth-child(1),li:nth-child(2){
                            border-bottom: 1px solid #E6E6E6;
                        }
                    }
                }
                .three{
                    margin-top: 10px;
                    ul{
                        overflow: hidden;
                        li{
                            float: left;
                            margin-right: 10px;
                        }
                        li:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
            .left{
                background: #fff url(../img/left_border.png) no-repeat right 10px;
            }
        }
    }
}

/*goodslist部分*/
#goodslist{
    padding-bottom: 20px;
    h2{
        @extend %h2;
    }
    .goodslist{
        ul{
            overflow: hidden;
            li{
                float: left;
                width: 230px;
                height: 315px;
                margin: 0 10px 10px 0;
                background: #fff;
                cursor: pointer;
                border: 1px solid #fff;
                img{
                    width: 220px;
                    height: 220px;
                    margin: 0 0 15px 4px;
                }
                h4{
                    line-height: 18px;
                    font-size: 12px;
                    color: #666;
                    padding: 0 15px;
                }
                p{
                    color: #F10214;
                    padding-left: 20px;
                }
            }
            li:nth-child(5n){
                margin-right: 0;
            }
            li:hover{
                border-color: #F10214;
            }
        }
    }
}

/*footer部分*/
#footer{
    background: #EAEAEA;
    .top{
        border-bottom: 1px solid #DEDEDE;
        ul{
            width: 1188px;
            margin: 0 auto;
            li{
                float: left;
                width: 297px;
                height: 102px;
                line-height: 102px;
                font-size: 18px;
                font-weight: bolder;
                padding-left: 81px;
            }
            li:nth-child(1){
                background: url(../img/duo.png) no-repeat 35px 30px;
            }
            li:nth-child(2){
                background: url(../img/kuai.png) no-repeat 35px 30px;
            }
            li:nth-child(3){
                background: url(../img/hao.png) no-repeat 35px 30px;
            }
            li:nth-child(4){
                background: url(../img/sheng.png) no-repeat 35px 30px;
            }
        }
    }
    .bottom{
        height: 142px;
        margin-top: 40px;
        padding-top: 25px;
        border-top: 1px solid #DEDEDE;
        text-align: center;
        background: url(../img/footer_background.png) no-repeat center 80px;
        span{
            line-height: 22px;
            font-size: 12px;
            color: #999；
        }
    }
}
