@charset "UTF-8";
/*header部分*/
#header {
  background: #fff;
  padding-bottom: 15px;
}

#header .header_list {
  background: #E3E4E5;
  height: 30px;
  border-bottom: 1px solid #DDD;
  padding-right: 31px;
}

#header .header_list ul {
  float: right;
}

#header .header_list ul li {
  float: left;
  padding: 0 12px 0 13px;
  background: url(../img/header_list_border.png) no-repeat left center;
}

#header .header_list ul li a {
  font-size: 12px;
  line-height: 30px;
  color: #999;
}

#header .header_list ul li a:hover {
  color: #F10215;
}

#header .header_list ul li i {
  display: inline-block;
  width: 10px;
  height: 5px;
  background: url(../img/header_list_arrow.png) no-repeat;
  margin-left: 4px;
}

#header .header_list ul li:nth-child(1) {
  background: none;
}

#header .header_list ul li:nth-child(2) a:nth-child(1) {
  color: #F10215;
}

#header .header_search {
  height: 88px;
}

#header .header_search .logo {
  float: left;
}

#header .header_search .logo a {
  display: block;
  width: 190px;
  height: 88px;
  background: url(../img/logo.png) no-repeat 22px 21px;
}

#header .header_search .search {
  width: 550px;
  margin-top: 25px;
  float: right;
}

#header .header_search .search input {
  width: 500px;
  height: 35px;
  border: 1px solid #F10215;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
}

#header .header_search .search button {
  width: 50px;
  height: 35px;
  float: right;
  background: #F10215;
  color: #fff;
  margin-top: -1px;
}

/*car部分*/
#car {
  padding-bottom: 15px;
}

#car .car .all {
  height: 38px;
  border-bottom: 1px solid #E0E0E0;
}

#car .car .all span {
  line-height: 38px;
  color: #E4393C;
  font-size: 16px;
  font-weight: bolder;
}

#car .car .all span i {
  padding: 0 5px;
}

#car .car .content ul li {
  overflow: hidden;
  padding-left: 20px;
}

#car .car .content ul li p {
  float: left;
  font-size: 12px;
  color: #666;
}

#car .car .content ul li p input[type=checkbox] {
  margin-top: -2px;
}

#car .car .content ul li p:nth-child(1) {
  width: 120px;
}

#car .car .content ul li p:nth-child(2) {
  width: 530px;
}

#car .car .content ul li p:nth-child(3), #car .car .content ul li p:nth-child(4), #car .car .content ul li p:nth-child(5) {
  width: 130px;
}

#car .car .content .title {
  height: 45px;
  line-height: 45px;
  background: #F3F3F3;
}

#car .car .content .goods {
  margin-top: 15px;
}

#car .car .content .goods li {
  height: 112px;
  border-bottom: 1px solid #C5C5C5;
  background: #FFF4E8;
  line-height: 112px;
}

#car .car .content .goods li .good_check input {
  padding-right: 5px;
}

#car .car .content .goods li .good_check img {
  width: 78px;
  height: 78px;
}

#car .car .content .goods li .good_num .nownum {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #CACBCB;
}

#car .car .content .goods li .good_num span {
  cursor: pointer;
  padding: 5px;
}

#car .car .content .goods li .good_del a {
  padding: 0 5px;
}

#car .car .account {
  margin-top: 15px;
  padding-left: 20px;
  border: 1px solid #F0F0F0;
  height: 52px;
  line-height: 52px;
}

#car .car .account input[type=checkbox] {
  margin-top: -2px;
}

#car .car .account a {
  padding-left: 30px;
  font-size: 12px;
}

#car .car .account div {
  float: right;
}

#car .car .account div span {
  padding: 0 10px;
}

#car .car .account div span i {
  color: #E64346;
}

#car .car .account div button {
  width: 96px;
  background: #E64346;
  font-size: 18px;
  color: #fff;
}

#car .car .account div .total_price i {
  font-size: 14px;
  font-weight: bolder;
}

/*footer部分*/
#footer {
  background: #EAEAEA;
}

#footer .top {
  border-bottom: 1px solid #DEDEDE;
}

#footer .top ul {
  width: 1188px;
  margin: 0 auto;
}

#footer .top ul li {
  float: left;
  width: 297px;
  height: 102px;
  line-height: 102px;
  font-size: 18px;
  font-weight: bolder;
  padding-left: 81px;
}

#footer .top ul li:nth-child(1) {
  background: url(../img/duo.png) no-repeat 35px 30px;
}

#footer .top ul li:nth-child(2) {
  background: url(../img/kuai.png) no-repeat 35px 30px;
}

#footer .top ul li:nth-child(3) {
  background: url(../img/hao.png) no-repeat 35px 30px;
}

#footer .top ul li:nth-child(4) {
  background: url(../img/sheng.png) no-repeat 35px 30px;
}

#footer .bottom {
  height: 142px;
  margin-top: 40px;
  padding-top: 25px;
  border-top: 1px solid #DEDEDE;
  text-align: center;
  background: url(../img/footer_background.png) no-repeat center 80px;
}

#footer .bottom span {
  line-height: 22px;
  font-size: 12px;
  color: #999；;
}
