@charset "UTF-8";
/*header部分*/
#header {
  background: #fff;
}

#header .header_list {
  background: #E3E4E5;
  height: 30px;
  border-bottom: 1px solid #DDD;
  padding-right: 31px;
}

#header .header_list ul {
  float: right;
}

#header .header_list ul li {
  float: left;
  padding: 0 12px 0 13px;
  background: url(../img/header_list_border.png) no-repeat left center;
}

#header .header_list ul li a {
  font-size: 12px;
  line-height: 30px;
  color: #999;
}

#header .header_list ul li a:hover {
  color: #F10215;
}

#header .header_list ul li i {
  display: inline-block;
  width: 10px;
  height: 5px;
  background: url(../img/header_list_arrow.png) no-repeat;
  margin-left: 4px;
}

#header .header_list ul li:nth-child(1) {
  background: none;
}

#header .header_list ul li:nth-child(2) a:nth-child(1) {
  color: #F10215;
}

#header .header_search {
  height: 88px;
  position: relative;
}

#header .header_search .logo {
  position: absolute;
  top: -31px;
}

#header .header_search .logo a {
  display: block;
  width: 190px;
  height: 88px;
  background: url(../img/logo.png) no-repeat 22px 21px;
}

#header .header_search .search {
  width: 550px;
  margin: 25px 0 0 320px;
}

#header .header_search .search input {
  width: 500px;
  height: 35px;
  border: 1px solid #F10215;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
}

#header .header_search .search button {
  width: 50px;
  height: 35px;
  float: right;
  background: #F10215;
  color: #fff;
  margin-top: -1px;
}

#header .header_search .recommend {
  margin-left: 320px;
}

#header .header_search .recommend li {
  float: left;
  padding: 0 5px;
}

#header .header_search .recommend li a {
  display: block;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  color: #999;
}

#header .header_search .recommend li a:hover {
  color: #F10215;
  text-decoration: none;
}

#header .header_search .recommend li:nth-child(1) a {
  color: #F10215;
}

#header .header_search .car {
  width: 141px;
  height: 32px;
  border: 1px solid #E3E4E5;
  box-sizing: border-box;
  position: absolute;
  top: 28px;
  right: 0;
  padding-left: 19px;
  line-height: 32px;
  color: #F10215;
}

#header .header_search .car span {
  margin-left: 7px;
}

#header .header_search .car span:nth-child(3) {
  margin-left: 7px;
  color: #fff;
  border-radius: 5px;
  background: #F10215;
  padding: 0 10px;
}

#header .header_classify {
  border-bottom: 2px solid #B1191A;
  position: relative;
}

#header .header_classify p {
  width: 210px;
  height: 44px;
  line-height: 44px;
  float: left;
  background: #B1191A;
  color: #fff;
  padding-left: 10px;
}

#header .header_classify p i {
  padding-left: 90px;
}

#header .header_classify ul {
  float: left;
}

#header .header_classify ul li {
  float: left;
  padding: 0 15px;
}

#header .header_classify ul li a {
  display: block;
  height: 44px;
  line-height: 44px;
  color: #666;
  font-weight: bolder;
}

#header .header_classify ul li a:hover {
  color: #F10215;
}

#header .header_classify .slide {
  width: 210px;
  height: 480px;
  background: #C1191A;
  padding-top: 16px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 46px;
  display: none;
}

#header .header_classify .slide li {
  height: 30px;
  padding-left: 12px;
  float: none;
}

#header .header_classify .slide li a {
  line-height: 30px;
  color: #fff;
}

#header .header_classify .slide li a:hover {
  color: #F10215;
}

#header .header_classify .slide li:hover {
  background: #fff;
}

#header .header_classify p:hover ~ .slide {
  display: block;
}

/*guid部分*/
#guid {
  background: #F2F2F2;
  height: 45px;
  line-height: 45px;
}

#guid a {
  color: #666;
  padding-left: 10px;
  font-size: 18px;
}

/*detile部分*/
#detile {
  background: #F2F2F2;
  height: 528px;
}

#detile .detile {
  background: #fff;
  overflow: hidden;
  padding: 14px 0 0 15px;
}

#detile .detile .left {
  width: 350px;
  height: 513px;
  float: left;
}

#detile .detile .left .demo a:first-child img {
  width: 350px;
  height: 350px;
}

#detile .detile .right {
  float: left;
  width: 825px;
  height: 513px;
  padding-left: 10px;
}

#detile .detile .right h4 {
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  font-weight: bolder;
  color: #666;
}

#detile .detile .right h5 {
  height: 38px;
  line-height: 38px;
  color: #666;
}

#detile .detile .right h5 span {
  color: #00B16A;
  padding-right: 5px;
}

#detile .detile .right .price {
  width: 580px;
  height: 116px;
  background: #F7F7F7;
}

#detile .detile .right .price p {
  height: 58px;
  line-height: 58px;
}

#detile .detile .right .price p span {
  margin-left: 40px;
}

#detile .detile .right .price p w {
  margin: 0 15px 0 40px;
}

#detile .detile .right .price p i {
  margin: 0 20px;
}

#detile .detile .right .price p a {
  color: #E4393C;
  margin-left: 15px;
}

#detile .detile .right .price p i, #detile .detile .right .price p w {
  border: 1px solid #E4393C;
  padding: 2px 5px;
  color: #E4393C;
}

#detile .detile .right p {
  padding-left: 10px;
  width: 580px;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #666;
}

#detile .detile .right p s {
  margin-left: 40px;
}

#detile .detile .right p m {
  margin-left: 73px;
}

#detile .detile .right p n {
  margin-left: 66px;
}

#detile .detile .right p o {
  float: right;
  color: #666;
}

#detile .detile .right .sui {
  color: #E4393C;
}

#detile .detile .right .num {
  margin-top: 10px;
}

#detile .detile .right .num i {
  padding: 0 5px;
  cursor: pointer;
}

#detile .detile .right .num span {
  padding: 10px;
  border: 1px solid #DDD;
}

#detile .detile .right .num button {
  color: #fff;
  font-size: 18px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  border-radius: 5px;
}

#detile .detile .right .num button i {
  padding-right: 10px;
}

#detile .detile .right .num .addCar {
  width: 135px;
  background: #E43D40;
  margin: 0 10px;
}

#detile .detile .right .num .buyAll {
  width: 73px;
  background: #72B64D;
}

/*comment部分*/
/*footer部分*/
#footer {
  background: #EAEAEA;
}

#footer .top {
  border-bottom: 1px solid #DEDEDE;
}

#footer .top ul {
  width: 1188px;
  margin: 0 auto;
}

#footer .top ul li {
  float: left;
  width: 297px;
  height: 102px;
  line-height: 102px;
  font-size: 18px;
  font-weight: bolder;
  padding-left: 81px;
}

#footer .top ul li:nth-child(1) {
  background: url(../img/duo.png) no-repeat 35px 30px;
}

#footer .top ul li:nth-child(2) {
  background: url(../img/kuai.png) no-repeat 35px 30px;
}

#footer .top ul li:nth-child(3) {
  background: url(../img/hao.png) no-repeat 35px 30px;
}

#footer .top ul li:nth-child(4) {
  background: url(../img/sheng.png) no-repeat 35px 30px;
}

#footer .bottom {
  height: 142px;
  margin-top: 40px;
  padding-top: 25px;
  border-top: 1px solid #DEDEDE;
  text-align: center;
  background: url(../img/footer_background.png) no-repeat center 80px;
}

#footer .bottom span {
  line-height: 22px;
  font-size: 12px;
  color: #999；;
}
