@charset "UTF-8";
#top_picture img {
  width: 100%;
  height: 100%;
}

/*header部分*/
#header .header_list {
  background: #E3E4E5;
  height: 30px;
  border-bottom: 1px solid #DDD;
  padding-right: 31px;
}

#header .header_list ul {
  float: right;
}

#header .header_list ul li {
  float: left;
  padding: 0 12px 0 13px;
  background: url(../img/header_list_border.png) no-repeat left center;
}

#header .header_list ul li a {
  font-size: 12px;
  line-height: 30px;
  color: #999;
}

#header .header_list ul li a:hover {
  color: #F10215;
}

#header .header_list ul li i {
  display: inline-block;
  width: 10px;
  height: 5px;
  background: url(../img/header_list_arrow.png) no-repeat;
  margin-left: 4px;
}

#header .header_list ul li:nth-child(1) {
  background: none;
}

#header .header_list ul li:nth-child(2) a:nth-child(1) {
  color: #F10215;
}

#header .header_search {
  height: 140px;
  position: relative;
}

#header .header_search .logo {
  position: absolute;
  top: -31px;
}

#header .header_search .logo a {
  display: block;
  width: 190px;
  height: 171px;
  background: url(../img/logo.png) no-repeat 22px 55px;
}

#header .header_search .search {
  width: 550px;
  margin: 25px 0 0 320px;
}

#header .header_search .search input {
  width: 500px;
  height: 35px;
  border: 1px solid #F10215;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
}

#header .header_search .search button {
  width: 50px;
  height: 35px;
  float: right;
  background: #F10215;
  color: #fff;
  margin-top: -1px;
}

#header .header_search .recommend {
  margin-left: 320px;
}

#header .header_search .recommend li {
  float: left;
  padding: 0 5px;
}

#header .header_search .recommend li a {
  display: block;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  color: #999;
}

#header .header_search .recommend li a:hover {
  color: #F10215;
  text-decoration: none;
}

#header .header_search .recommend li:nth-child(1) a {
  color: #F10215;
}

#header .header_search .classify {
  margin: 10px 0 0 230px;
}

#header .header_search .classify li {
  float: left;
  padding: 0 15px;
}

#header .header_search .classify li a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #666;
  font-weight: bolder;
}

#header .header_search .classify li a:hover {
  color: #F10215;
}

#header .header_search .car {
  width: 141px;
  height: 32px;
  border: 1px solid #E3E4E5;
  box-sizing: border-box;
  position: absolute;
  top: 28px;
  right: 0;
  padding-left: 19px;
  line-height: 32px;
  color: #F10215;
}

#header .header_search .car span {
  margin-left: 7px;
}

#header .header_search .car span:nth-child(3) {
  display: inline-block;
  width: 18px;
  height: 14px;
  border-radius: 5px;
  background: #F10215;
}

/*banner部分*/
#banner {
  background: #F6F6F6;
}

#banner .banner .left, #banner .banner .right {
  width: 190px;
  height: 480px;
}

#banner .banner .left {
  float: left;
  background: #6C6669;
  padding-top: 16px;
  box-sizing: border-box;
}

#banner .banner .left li {
  height: 30px;
  padding-left: 12px;
}

#banner .banner .left li a {
  line-height: 30px;
  color: #fff;
}

#banner .banner .left li a:hover {
  color: #F10215;
}

#banner .banner .left li:hover {
  background: rgba(204, 204, 204, 0.5);
}

#banner .banner .middle {
  float: left;
  width: 790px;
  height: 480px;
  margin-left: 10px;
}

#banner .banner .middle .top {
  overflow: hidden;
  height: 340px;
  position: relative;
}

#banner .banner .middle .top ul {
  position: absolute;
}

#banner .banner .middle .top ul li {
  float: left;
}

#banner .banner .middle .top div {
  position: absolute;
  width: 170px;
  height: 20px;
  bottom: 20px;
  left: 310px;
  border-radius: 8px;
  background: rgba(204, 204, 204, 0.5);
}

#banner .banner .middle .bottom {
  margin-top: 10px;
}

#banner .banner .right {
  float: right;
  background: #fff;
}

#banner .banner .right .top {
  height: 115px;
  box-sizing: border-box;
  padding: 15px 0 0 10px;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
}

#banner .banner .right .top img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
}

#banner .banner .right .top span:nth-child(2) {
  float: left;
  margin-left: 15px;
}

#banner .banner .right .top span:nth-child(2) a {
  color: #000;
}

#banner .banner .right .top span:nth-child(3), #banner .banner .right .top span:nth-child(4) {
  position: absolute;
  bottom: 16px;
  width: 74px;
  height: 24px;
  border: 2px solid #E01222;
  margin-top: 15px;
  text-align: center;
}

#banner .banner .right .top span:nth-child(3) a, #banner .banner .right .top span:nth-child(4) a {
  color: #E01222;
  font-size: 12px;
}

#banner .banner .right .top span:nth-child(3) {
  left: 15px;
}

#banner .banner .right .top span:nth-child(4) {
  left: 99px;
}

#banner .banner .right .bottom {
  padding-left: 13px;
}

#banner .banner .right .bottom p {
  overflow: hidden;
  border-bottom: 1px solid #E6E6E6;
}

#banner .banner .right .bottom p span {
  float: left;
  height: 28px;
  line-height: 28px;
  padding: 0 6px;
  cursor: pointer;
}

#banner .banner .right .bottom p span.active {
  border-bottom: 2px solid #DB192B;
}

#banner .banner .right .bottom ul {
  margin-top: 13px;
}

#banner .banner .right .bottom ul li {
  height: 22px;
  line-height: 22px;
}

#banner .banner .right .bottom ul li a {
  color: #666;
}

#banner .banner .right .bottom ul:nth-child(3) {
  display: none;
}
