@charset "UTF-8";
body {
  background: #F6F6F6;
}

#quality h2, #life h2, #goodslist h2 {
  height: 85px;
  padding-top: 7px;
  box-sizing: border-box;
  line-height: 78px;
  font-size: 22px;
  text-align: center;
  background: url(../img/goodslist_border.png) no-repeat left 48px, url(../img/goodslist_border.png) no-repeat right 48px;
}

#top_picture img {
  width: 100%;
  height: 100%;
}

/*header部分*/
#header {
  background: #fff;
}

#header .header_list {
  background: #E3E4E5;
  height: 30px;
  border-bottom: 1px solid #DDD;
  padding-right: 31px;
}

#header .header_list ul {
  float: right;
}

#header .header_list ul li {
  float: left;
  padding: 0 12px 0 13px;
  background: url(../img/header_list_border.png) no-repeat left center;
}

#header .header_list ul li a {
  font-size: 12px;
  line-height: 30px;
  color: #999;
}

#header .header_list ul li a:hover {
  color: #F10215;
}

#header .header_list ul li i {
  display: inline-block;
  width: 10px;
  height: 5px;
  background: url(../img/header_list_arrow.png) no-repeat;
  margin-left: 4px;
}

#header .header_list ul li:nth-child(1) {
  background: none;
}

#header .header_list ul li:nth-child(2) a:nth-child(1) {
  color: #F10215;
}

#header .header_search {
  height: 140px;
  position: relative;
}

#header .header_search .logo {
  position: absolute;
  top: -31px;
}

#header .header_search .logo a {
  display: block;
  width: 190px;
  height: 171px;
  background: url(../img/logo.png) no-repeat 22px 55px;
}

#header .header_search .search {
  width: 550px;
  margin: 25px 0 0 320px;
}

#header .header_search .search input {
  width: 500px;
  height: 35px;
  border: 1px solid #F10215;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
}

#header .header_search .search button {
  width: 50px;
  height: 35px;
  float: right;
  background: #F10215;
  color: #fff;
  margin-top: -1px;
}

#header .header_search .recommend {
  margin-left: 320px;
}

#header .header_search .recommend li {
  float: left;
  padding: 0 5px;
}

#header .header_search .recommend li a {
  display: block;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  color: #999;
}

#header .header_search .recommend li a:hover {
  color: #F10215;
  text-decoration: none;
}

#header .header_search .recommend li:nth-child(1) a {
  color: #F10215;
}

#header .header_search .classify {
  margin: 10px 0 0 230px;
}

#header .header_search .classify li {
  float: left;
  padding: 0 15px;
}

#header .header_search .classify li a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #666;
  font-weight: bolder;
}

#header .header_search .classify li a:hover {
  color: #F10215;
}

#header .header_search .car {
  width: 141px;
  height: 32px;
  border: 1px solid #E3E4E5;
  box-sizing: border-box;
  position: absolute;
  top: 28px;
  right: 0;
  padding-left: 19px;
  line-height: 32px;
  color: #F10215;
}

#header .header_search .car span {
  margin-left: 7px;
}

#header .header_search .car span:nth-child(3) {
  margin-left: 7px;
  color: #fff;
  border-radius: 5px;
  background: #F10215;
  padding: 0 10px;
}

/*banner部分*/
#banner .banner .left, #banner .banner .right {
  width: 190px;
  height: 480px;
}

#banner .banner .left {
  float: left;
  background: #6C6669;
  padding-top: 16px;
  box-sizing: border-box;
}

#banner .banner .left li {
  height: 30px;
  padding-left: 12px;
}

#banner .banner .left li a {
  line-height: 30px;
  color: #fff;
}

#banner .banner .left li a:hover {
  color: #F10215;
}

#banner .banner .left li:hover {
  background: rgba(204, 204, 204, 0.5);
}

#banner .banner .middle {
  float: left;
  width: 790px;
  height: 480px;
  margin-left: 10px;
}

#banner .banner .middle .top {
  overflow: hidden;
  height: 340px;
  position: relative;
}

#banner .banner .middle .top ul {
  position: absolute;
}

#banner .banner .middle .top ul li {
  float: left;
}

#banner .banner .middle .top div {
  position: absolute;
  width: 170px;
  height: 20px;
  bottom: 20px;
  left: 310px;
  border-radius: 8px;
  background: rgba(204, 204, 204, 0.5);
}

#banner .banner .middle .bottom {
  margin-top: 10px;
}

#banner .banner .right {
  float: right;
  background: #fff;
}

#banner .banner .right .top {
  height: 115px;
  box-sizing: border-box;
  padding: 15px 0 0 10px;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
}

#banner .banner .right .top img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
}

#banner .banner .right .top span:nth-child(2) {
  float: left;
  margin-left: 15px;
}

#banner .banner .right .top span:nth-child(2) a {
  color: #000;
}

#banner .banner .right .top span:nth-child(3), #banner .banner .right .top span:nth-child(4) {
  position: absolute;
  bottom: 16px;
  width: 74px;
  height: 24px;
  border: 2px solid #E01222;
  margin-top: 15px;
  text-align: center;
}

#banner .banner .right .top span:nth-child(3) a, #banner .banner .right .top span:nth-child(4) a {
  color: #E01222;
  font-size: 12px;
}

#banner .banner .right .top span:nth-child(3) {
  left: 15px;
}

#banner .banner .right .top span:nth-child(4) {
  left: 99px;
}

#banner .banner .right .bottom {
  padding-left: 13px;
}

#banner .banner .right .bottom p {
  overflow: hidden;
  border-bottom: 1px solid #E6E6E6;
}

#banner .banner .right .bottom p span {
  float: left;
  height: 28px;
  line-height: 28px;
  padding: 0 6px;
  cursor: pointer;
}

#banner .banner .right .bottom p span.active {
  border-bottom: 2px solid #DB192B;
}

#banner .banner .right .bottom ul {
  margin-top: 13px;
}

#banner .banner .right .bottom ul li {
  height: 22px;
  line-height: 22px;
}

#banner .banner .right .bottom ul li a {
  color: #666;
}

#banner .banner .right .bottom ul:nth-child(3) {
  display: none;
}

/*off部分*/
#off {
  padding: 10px 0 30px 0;
}

#off .off .title {
  height: 55px;
  line-height: 55px;
  background: url(../img/red.png) no-repeat;
}

#off .off .title p {
  float: left;
  font-size: 24px;
  color: #fff;
  padding-left: 73px;
  background: url(../img/clock.png) no-repeat 30px center;
}

#off .off .title a {
  float: left;
  margin-left: 13px;
  color: #fff;
}

#off .off ul li {
  width: 198px;
  height: 250px;
  float: left;
  background: #fff url(../img/off_border.png) no-repeat right center;
  position: relative;
}

#off .off ul li img {
  width: 120px;
  height: 120px;
  margin: 15px 39px;
  position: absolute;
}

#off .off ul li h4 {
  line-height: 26px;
  font-size: 12px;
  color: #999;
  text-align: center;
  margin-top: 150px;
}

#off .off ul li p {
  padding-left: 18px;
}

#off .off ul li p span {
  font-size: 14px;
  color: #F10214;
  font-weight: bolder;
}

#off .off ul li p del {
  font-size: 12px;
  color: #999;
}

#off .off ul li:last-child {
  background: #fff;
}

#off .off ul li:last-child h4 {
  margin-top: 156px;
  line-height: 24px;
  font-size: 14px;
  color: #7D9F0A;
}

/*find部分*/
#find {
  padding-bottom: 30px;
}

#find .find ul li {
  float: left;
  width: 390px;
  height: 444px;
  margin-right: 10px;
  background: #fff;
}

#find .find ul li span {
  display: block;
  height: 55px;
  line-height: 55px;
  padding: 0 20px 0 30px;
}

#find .find ul li span p {
  float: left;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

#find .find ul li span a {
  float: right;
  font-size: 12px;
  color: #fff;
}

#find .find ul li ul {
  padding: 8px;
  overflow: hidden;
}

#find .find ul li ul li {
  float: left;
  margin-right: 0;
  border-bottom: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
}

#find .find ul li ul li a {
  display: block;
}

#find .find ul li ul li p {
  line-height: 16px;
  font-size: 12px;
  color: #666;
  text-align: center;
  padding-left: 10px;
}

#find .find ul li:first-child ul li {
  width: 186px;
  height: 121px;
  position: relative;
}

#find .find ul li:first-child ul li img {
  position: absolute;
}

#find .find ul li:first-child ul li:nth-child(2n) {
  border-right: none;
}

#find .find ul li:nth-child(2) ul li {
  width: 186px;
  height: 227px;
  position: relative;
}

#find .find ul li:nth-child(2) ul li img {
  position: absolute;
}

#find .find ul li:nth-child(2) ul li:nth-child(2) {
  border-right: none;
}

#find .find ul li:nth-child(2) ul li:last-child {
  width: 370px;
  height: 130px;
  margin-top: 10px;
  border-right: none;
}

#find .find ul li:last-child {
  margin-right: 0;
}

#find .find ul li:last-child ul li {
  width: 122px;
  height: 184px;
}

#find .find ul li:last-child ul li img {
  width: 100px;
  height: 100px;
  margin: 11px;
}

#find .find ul li:last-child ul li:nth-child(3n) {
  border-right: none;
}

/*middle_banner部分*/
.middle_banner a {
  margin-left: -4px;
}

.middle_banner a:first-child {
  margin-left: 0;
}

/*quality部分*/
#quality {
  padding-bottom: 20px;
}

#quality .quality ul li {
  float: left;
  margin: 0 10px 10px 0;
}

#quality .quality ul li a {
  display: block;
}

#quality .quality ul li:nth-child(3n) {
  margin-right: 0;
}

/*life部分*/
#life .life .life_content {
  overflow: hidden;
  margin-bottom: 30px;
}

#life .life .life_content .title {
  width: 100%;
  padding: 0 13px 0 26px;
  float: left;
  height: 58px;
}

#life .life .life_content .title h3 {
  float: left;
  line-height: 58px;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}

#life .life .life_content .title ul {
  float: right;
}

#life .life .life_content .title ul li {
  float: left;
  border: 1px solid #fff;
  margin: 16px 7px;
  height: 24px;
  padding: 0 10px;
}

#life .life .life_content .title ul li a {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

#life .life .life_content .left, #life .life .life_content .right {
  width: 594px;
  height: 465px;
  padding: 10px;
  float: left;
  box-sizing: border-box;
  background: #fff;
}

#life .life .life_content .left .one, #life .life .life_content .left .two, #life .life .life_content .left .three, #life .life .life_content .right .one, #life .life .life_content .right .two, #life .life .life_content .right .three {
  float: left;
}

#life .life .life_content .left .one a, #life .life .life_content .left .two a, #life .life .life_content .left .three a, #life .life .life_content .right .one a, #life .life .life_content .right .two a, #life .life .life_content .right .three a {
  display: block;
}

#life .life .life_content .left .one, #life .life .life_content .right .one {
  margin-right: 10px;
}

#life .life .life_content .left .two, #life .life .life_content .right .two {
  width: 377px;
}

#life .life .life_content .left .two ul, #life .life .life_content .right .two ul {
  overflow: hidden;
}

#life .life .life_content .left .two ul li, #life .life .life_content .right .two ul li {
  float: left;
}

#life .life .life_content .left .two ul li:nth-child(2n), #life .life .life_content .right .two ul li:nth-child(2n) {
  border-left: 1px solid #E6E6E6;
}

#life .life .life_content .left .two ul li:nth-child(1), #life .life .life_content .left .two ul li:nth-child(2), #life .life .life_content .right .two ul li:nth-child(1), #life .life .life_content .right .two ul li:nth-child(2) {
  border-bottom: 1px solid #E6E6E6;
}

#life .life .life_content .left .three, #life .life .life_content .right .three {
  margin-top: 10px;
}

#life .life .life_content .left .three ul, #life .life .life_content .right .three ul {
  overflow: hidden;
}

#life .life .life_content .left .three ul li, #life .life .life_content .right .three ul li {
  float: left;
  margin-right: 10px;
}

#life .life .life_content .left .three ul li:last-child, #life .life .life_content .right .three ul li:last-child {
  margin-right: 0;
}

#life .life .life_content .left {
  background: #fff url(../img/left_border.png) no-repeat right 10px;
}

/*goodslist部分*/
#goodslist {
  padding-bottom: 20px;
}

#goodslist .goodslist ul {
  overflow: hidden;
}

#goodslist .goodslist ul li {
  float: left;
  width: 230px;
  height: 315px;
  margin: 0 10px 10px 0;
  background: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

#goodslist .goodslist ul li img {
  width: 220px;
  height: 220px;
  margin: 0 0 15px 4px;
}

#goodslist .goodslist ul li h4 {
  line-height: 18px;
  font-size: 12px;
  color: #666;
  padding: 0 15px;
}

#goodslist .goodslist ul li p {
  color: #F10214;
  padding-left: 20px;
}

#goodslist .goodslist ul li:nth-child(5n) {
  margin-right: 0;
}

#goodslist .goodslist ul li:hover {
  border-color: #F10214;
}

/*footer部分*/
#footer {
  background: #EAEAEA;
}

#footer .top {
  border-bottom: 1px solid #DEDEDE;
}

#footer .top ul {
  width: 1188px;
  margin: 0 auto;
}

#footer .top ul li {
  float: left;
  width: 297px;
  height: 102px;
  line-height: 102px;
  font-size: 18px;
  font-weight: bolder;
  padding-left: 81px;
}

#footer .top ul li:nth-child(1) {
  background: url(../img/duo.png) no-repeat 35px 30px;
}

#footer .top ul li:nth-child(2) {
  background: url(../img/kuai.png) no-repeat 35px 30px;
}

#footer .top ul li:nth-child(3) {
  background: url(../img/hao.png) no-repeat 35px 30px;
}

#footer .top ul li:nth-child(4) {
  background: url(../img/sheng.png) no-repeat 35px 30px;
}

#footer .bottom {
  height: 142px;
  margin-top: 40px;
  padding-top: 25px;
  border-top: 1px solid #DEDEDE;
  text-align: center;
  background: url(../img/footer_background.png) no-repeat center 80px;
}

#footer .bottom span {
  line-height: 22px;
  font-size: 12px;
  color: #999；;
}
